<!DOCTYPE html>
<html lang="en">
<head>
<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h2><%= title %></h2>
<form action="/periodUpdate" method="post">
<input type="hidden" value="<%= roomData.id %>" name="id">
<div class="form-group">
    <div class="form-group">
      
        <input type="text" name="periodid" class="form-control" placeholder="ID *" value="<%= roomData.id %>" required="required" />
      </div>


      <div class="form-group">
        <input type="time" name="startTime" class="form-control" placeholder="Start Time *" value="<%= roomData.startTime %>" required="required" />
      </div>
      
      
      
      <div class="form-group">
        <input type="time" name="endTime" class="form-control" placeholder="End TIme *" value="<%= roomData.endTime %>" required="required" />
      </div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>
